.container-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
  align-content: stretch;
}

@media (max-width: 34.375rem) {
  .container-movies {
    margin: 10px auto;
    justify-content: center;
    align-items: center;
  }
}
