/* .mb-3 ul.active,
.mb-3 ul.active:hover,
.mb-3 ul.active:focus {
  background-color: red;
  color: white;
} */
/* .nav-link button.active {
  background-color: red;
  color: white;
} */



.mb-3 ul li button {
  background-color: gray;
  color: white;
}
